# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Conda / virtual environments
.env/
.venv/
conda-meta/
anaconda3/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Data & results
results/
output/
logs/
